{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            ">0.5%",
            "not dead",
            "iOS >= 14",
            "last 2 ChromeAndroid versions",
            "Safari >=15",
            "last 2 Chrome versions",
            "last 2 Edge versions",
            "last 2 Firefox versions"
          ]
        }
      }
    ]
  ],
  "plugins": []
}
