{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "extends": ["eslint:recommended", "google", "prettier"],
  "plugins": [
    "prettier"
  ],
  "rules": {

    "prettier/prettier": [
        2,
        {
          "printWidth": 100,
          "tabWidth": 2,
          "singleQuote": true,
          "trailingComma": "none",
          "bracketSpacing": true,
          "parser": "babylon"
        }
      ]
  }
}
