
tagFormat: ${version}
debug: true
dryRun: false
extends: '@tmware/semantic-release-npm-github-publish'
plugins:
  - - '@semantic-release/commit-analyzer'
    - releaseRules:
      - type: "build"
        release: false
      - type: "ci"
        release: false
      - type: "chore"
        release: false
      - type: "docs"
        release: "patch"
      - type: "refactor"
        release: false
      - type: "style"
        release: false
      - type: "test"
        release: false

  - '@semantic-release/release-notes-generator'
  - '@semantic-release/changelog'
  - - '@amanda-mitchell/semantic-release-npm-multiple'
    - registries:
        github: {}
        public: {}
  - - '@semantic-release/git'
    - assets:
        - package.json
        - package-lock.json
        - CHANGELOG.md
      message: |-
        release(version): Release ${nextRelease.version} [skip ci]

        ${nextRelease.notes}
  - '@semantic-release/github'
